body {
  margin: 0;
  padding: 15px;
  font-family: 'Nunito', 'Courier New', Courier, monospace;
  background: linear-gradient(to right, purple,  pink, teal);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}